<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac>
    <modules>
      <module type="Whitebox.Profiler.AppModule, Whitebox.Profiler"/>
      <module type="Whitebox.Core.CoreModule, Whitebox.Core" />
    </modules>
  </autofac>
</configuration>